* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: helvetica, sans-serif;
  background: rgb(235, 238, 243);
  color: #616161;
}

a {
  text-decoration: none;
  color: #616161;
}

image {
  display: block;
  width: 100%;
}

.container {
  margin-bottom: 50px;
}

.navbar {
  background: #fff;
  padding: 15px 25px;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__brand a {
    color: #e91e63;
    font-weight: bold;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    display: inline;
    margin-left: 25px;
  }
}

.form {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
  width: 30%;
  margin: 30px auto;
  padding: 15px;
  &__group {
    margin-top: 15px;
  }
  &__group label {
    display: block;
    margin-bottom: 5px;
  }
  &__control {
    font-size: 14px;
    width: 100%;
    display: block;
    background: #fafafa;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    padding: 8px;
    &:focus {
      background: rgba(255, 245, 254, 0.31);
    }
  }
  &__qty {
    width: 45%;
    margin: 0px 10px;
  }
  &__margin {
    margin-bottom: 10px;
  }
  &__description {
    height: 152px;
  }
}

.btn {
  border: none;
  border-radius: 2px;
  font-size: 14px;
  height: 30px;
  padding: 8px 16px;
  cursor: pointer;
  background: #f4f4f4;
  color: #484746;
  box-shadow: 0 1px darken(#f4f4f4, 13%);
  outline: none;
  text-decoration: none;
  display: inline-block;
  line-height: 1.15em;
  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  &[disabled] {
    opacity: 0.75;
    cursor: not-allowed;
  }
  &__primary {
    background: #3aa3e3;
    color: #fff;
    box-shadow: 0 1px darken(#3aa3e3, 13%);
  }
  &__danger {
    background: #e75650;
    color: #fff;
    box-shadow: 0 1px darken(#e75650, 13%);
  }
}

.error {
  &__control {
    color: #e53935;
  }
  &__bg {
    background: #ffcdd2!important;
  }
}